/*-- Global Styles --*/
:root {
    /* Color variables */
    --primary: #5725e2;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;

    /* Font size variables */
    --topperFontSize: 1rem;
    --headerFontSize: 3rem;
    --bodyFontSize: 1rem;

    --sectionPadding: 6.25rem 1rem;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Aleo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Topper styles */
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

/* Title styles */
.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

/* Text styles */
.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}


#cs-navigation {
    width: 90rem;
    height: 6rem;
    box-sizing: border-box;
    padding: 1.5rem 0;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 2rem;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
}

#cs-navigation .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    box-sizing: border-box;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 21.875rem;
    height: 4rem;
    margin: 0 auto 0 0;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

#cs-navigation .cs-logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

#cs-navigation .cs-contact-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 18px;
}

#cs-navigation .cs-phone {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
}

#cs-navigation .cs-phone-icon {
    width: 1.5rem;
    height: auto;
    display: block;
}

#cs-navigation .cs-social {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#cs-navigation .cs-social-link {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

#cs-navigation .cs-social-link:hover {
    background-color: var(--primary);
}

#cs-navigation .cs-social-link:hover .cs-social-icon {
    filter: grayscale(1) brightness(10000%);
}

#cs-navigation .cs-social-icon {
    width: 0.75rem;
    height: auto;
    display: block;
}

#cs-navigation .cs-ul-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cs-navigation .cs-ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.25rem;
}

#cs-navigation .cs-li {
    list-style: none;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex: none;
}

#cs-navigation .cs-li-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: block;
    position: relative;
    transition: color 0.3s;
}

#cs-navigation .cs-li-link:hover,
#cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
}

#cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.5em;
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

#cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}

#cs-navigation .cs-button-solid:hover {
    color: #1a1a1a;
}

#cs-navigation .cs-button-solid:hover:before {
    width: 100%;
}

/*-- Services --*/
#services-282 {
    padding: var(--sectionPadding);
}

#services-282 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

#why-choose-441 .cs-image {
    background-image: url("../images/bgimg.jpg");
    background-size: cover;
    width: 35vw; 
}

#services-282 .cs-content {
    padding-top: 90px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#services-282 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#services-282 .cs-item {
    list-style: none;
    width: 25.8125rem;
    min-height: 16.25rem;
    padding: 2.5rem 1.75rem;
    box-sizing: border-box;
    background-color: #f1f1f4;
    border-radius: 0.25rem;
    display: flex;
    transition: background-color 0.3s;
}

#services-282 .cs-item:hover {
    background-color: var(--primary);
}

#services-282 .cs-item:hover .cs-h3,
#services-282 .cs-item:hover .cs-item-text,
#services-282 .cs-item:hover .cs-fake-link {
    color: #fafbfc;
}

#services-282 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#services-282 .cs-h3 {
    font-size: 1.5625rem;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--headerColor);
    transition: color 0.3s;
}

#services-282 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.25rem;
    color: var(--bodyTextColor);
    transition: color 0.3s;
}

#services-282 .cs-fake-link {
    font-size: 1rem;
    font-weight: 700;
    margin-top: auto;
    color: var(--primary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    position: relative;
}

#services-282 .cs-fake-link:hover:before {
    width: 100%;
}

#services-282 .cs-fake-link:before {
    content: "";
    width: 0%;
    height: 2px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
}

#services-282 .cs-fake-link svg {
    margin-left: 0.5rem;
}

#services-282 .cs-fake-link svg path {
    fill: currentColor;
}

/* General styles for the #why-choose-441 section */
#why-choose-441 {
    padding: 4rem;
    background-color: #fafbfc;
}

#why-choose-441 .cs-container {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#why-choose-441 .cs-container-row {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

/* targets direct children of container row for sizing */
#why-choose-441 .cs-container-row > div {
    flex: 1;
}

#why-choose-441 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#why-choose-441 .cs-topper {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
}

#why-choose-441 .cs-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
}

#why-choose-441 .cs-text {
    font-size: 1.25rem;
    line-height: 1.5em;
    max-width: 40.625rem;
    color: var(--bodyTextColor);
}

#why-choose-441 .cs-card-group {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

#why-choose-441 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 28.875rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #dad9e3;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    position: relative;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border 0.3s;
}

#why-choose-441 .cs-item:hover {
    background-color: #fff;
    transform: translateY(-0.4375rem);
    border-color: var(--primary);
}

#why-choose-441 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#why-choose-441 .cs-picture {
    width: 4.5rem; 
    height: 4.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);
}

#why-choose-441 .cs-icon {
    height: 2rem; 
    width: auto;
}

#why-choose-441 .cs-number {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
}

#why-choose-441 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
}

/* General styles for the #contact-strip-325 section */
#contact-strip-325 {
    padding: 4rem;
    background-color: #011f33;
}

#contact-strip-325 .cs-stat-group {
    max-width: 80rem; 
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact-strip-325 .cs-item {
    list-style: none;
    width: 18.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contact-strip-325 .cs-item:hover .cs-picture {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.05);
}

#contact-strip-325 .cs-picture {
    width: 5rem;
    height: 5rem;
    margin-right: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
}

#contact-strip-325 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#contact-strip-325 .cs-icon {
    width: 2.0625rem;
    height: auto;
}

#contact-strip-325 .cs-header {
    font-size: 1.25rem;
    color: var(--bodyTextColorWhite);
    font-weight: 900;
    margin: 0 0 0.75rem 0;
}

#contact-strip-325 .cs-link,
#contact-strip-325 .cs-hours {
    font-size: 1rem;
    text-decoration: none;
    color: #828282;
    transition: color 0.3s;
}

#contact-strip-325 .cs-link:hover {
    color: var(--primary);
}

/*-- Footer --*/
.footer {
    background-color: #111727;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-info p {
    margin-top: 18px;
    color: rgb(77, 77, 77);
}